<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h2>Добро пожаловать на страницу пользователя <span th:text="${user.getName()}">name</span>!</h2>
<br>
<div>
    Пользователя зовут <span th:text="${user.getName()}"></span>
    Электронная почта пользователя - <span th:text="${user.getEmail()}"></span>.<br>
</div>
<br>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
        <input type="submit" value="Отредактировать пользователя">
    </form>
    <br>
    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
        <input type="submit" value="Удалить пользователя">
    </form>
</div>
<br>
<hr>
<form th:method="GET" action="/auth/logout">
    <input type="submit" value="Выйти">
</form>
</body>
</html>