<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Изменить имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="gender">Изменить электронную почту: </label>
    <input type="text" th:field="*{email}" id="gender">
    <br>
    <input type="submit" value="Обновить данные пользователя">
</form>
<br>
<form th:method="GET" action="/auth/logout">
    <input type="submit" value="Выйти">
</form>

</body>
</html>