<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating new User</title>
</head>
<body>
<h2>Страница создания нового пользователя</h2>
<br>
<form th:method="POST" th:action="@{/admin/users}" th:object="${newUser}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="email">Введите электронную почту: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <br>
    <input type="submit" value="Создать нового пользователя">

</form>

<br>
<form th:method="GET" action="/auth/logout">
    <input type="submit" value="Выйти">
</form>


</body>
</html>